# Production
Flask==2.3.3
python-dotenv==1.0.0
requests==2.31.0
transformers==4.56.1
gunicorn==21.2.0
torch==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
PyPDF2==3.0.1

# Development (opcional, só instale se precisar localmente)
# livereload==2.7.1
